Flask>=1.0.0
# gunicorn==19.7.1
prometheus-client
# livereload
Flask-WTF
flask-uploads
# tinydb
flask-bootstrap
flask-nav
werkzeug==0.16.1
# sqlalchemy
pandas
# autopep8
numpy~=1.19.5
WTForms~=3.0.0