/*

A -> Anubhav Sharma -> 1001864635
C -> Chinmaya Tripathi -> 1001851398
K -> Khush Hemantkumar Upadhyay -> 1001858988

*/

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.banner{
    position: relative;
    width: 100;
    height: 120px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
}
.banner .header-content{
    max-width: 750px;
    position: relative;
    text-align: center;
}

.banner .header-content h2{
    font-size: 60px;
    color:#fff;
}

.banner .header-content p{
    font-size: 18px;
    color:#fff;
}

.banner header{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.banner header .logo{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
}

.banner header .toggleDiv{
    position: relative;
}

.banner header .toggleDiv ul{
    list-style: none;
}

.banner header .toggleDiv ul li{
    display: inline;
    padding-right: 25px;
}

.banner header .toggleDiv ul li a{
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    color:#fff
}

.header-content .start{
    height: 60px;
    width:300px;
    cursor: pointer;
    font-size: 20px;
    border:none;
    color:white;
    background: black;
    border:1px solid white;
    margin-top: 20px;
}

.about{
    position: relative;
    width: 100%;
    display: flex;
    min-height: 300px;
}

.about .content-box{
    background: white;
    padding: 100px;
    width: 50%;
}
.heading{
    color:black;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.para{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
.login-btn{
    width: 100px;
    height:35px;
    background: transparent;
    border: 1px solid white;
    color: white;
}
.yellow{
    color:yellow;
}
.black{
    color: black !important;
}

.about .image-box{
    background: url("../images/1.png");
    width: 50%;
    background-size: cover;
    background-position: center;
}


.modes{
    background:  #173868;
    padding: 100px;
    text-align: center;
    color: white;
}

.modes .image-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.white{
    color:white !important;
}

.modes .image-box img{
    margin: 20px;
    max-width: 200px;
    opacity: 0.25;
    cursor: pointer;
}

.modes .image-box img:hover{
    opacity: 1;
}
.footer{
    background:#162c3b;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer ul li{
    list-style: none;
}

.footer ul li a i{
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    color: white;
}

.fas{
    color: white;
}

@media (max-width: 991px){
    .banner header{
        padding: 20px 50px;
    }
    .banner .header-content h2{
        font-size: 36px;
    }
    .banner .header-content p{
        color: #fff;
        font-size: 16px;
    }
    .about{
        flex-direction: column;
    }
    .about .content-box,
    .about .image-box{
        width: 100%;
        padding:10px;
        min-height: 400px;
        text-align: center;
    }
    .modes{
        padding:50px;
    }
    .modes .image-box{
        justify-content: center;
    }
    .footer{
        padding: 20px 50px;
        flex-direction: column-reverse;
        text-align: center;
    }
    .footer ul{
        margin-bottom: 20px;
    }
    .banner header{
        flex-direction: column;
    }
    .banner header .toggleDiv ul li{
        display: block;
        line-height: 20px;
    }
    .banner header .toggleDiv ul{
        margin-top: 15px;
    }
    .header-content .start{
        height: 40px;
        width:200px;
        cursor: pointer;
        font-size: 10px;
        border:none;
        color:white;
        background: black;
        border:1px solid white;
    }
    .header-content{
        margin-top:40%;
    }
    .banner{
        height: 250px;
    }
}

